---
import { Icon } from "astro-icon/components";
import GochatApplication from "@/lib/images/chat-application.webp"
---


<script>
</script>
<section id="main-project-container" class="h-auto p-8 gap-6 w-full relative overflow-hidden flex items-center justify-center flex-wrap flex-col ">
    <article class="h-auto w-[40rem] relative overflow-hidden">
        <a href="https://github.com/000bachir/python_file_manager_cmd/tree/main" class="h-full w-full flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/file_manager.webp" alt="file manipulation in python">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">File manager (CLI) in python</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Libraries used : os , shutil , cryptography and more </p>
            </div>
        </a>
    </article>

    <article class="h-auto w-[40rem] relative overflow-hidden">
        <a href="https://github.com/000bachir/go_chat_application" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/chat-application.webp" alt="go chat application">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Go Chat Application</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Gin Framework , ThunderClient and Nextjs</p>
            </div>
        </a>
    </article>

    <article class="h-auto w-[40rem] relative overflow-hidden">
        
            <a href="https://github.com/000bachir/sveltekit_ecommerce_website/tree/main" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/e_commerce.webp" alt="e commerce website">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">E commerce</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">sveltekit + supabase</p>
                </div>
            </a>

    </article>

    <article class="h-auto w-[40rem] relative overflow-hidden">
        <a href="https://github.com/000bachir/personal_portfolio" class="flex flex-col items-center  border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/Avatar.webp" alt="personal portfolio">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight ">Portfolio</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Astro</p>
            </div>
        </a>
    </article>


    <article class="h-auto w-[40rem] relative overflow-hidden">
        <a href="https://github.com/000bachir/python_file_manager_cmd/tree/main" class="h-full w-full flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/deno http.webp" alt="deno http server">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Deno http server</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">oak Framework + MongoDB</p>
            </div>
        </a>
    </article>


    
</section>

<style>

    

    @media screen and (max-width:425px){
        article{
            width:auto;
        }
    }
    
</style>