---
    import ProjectCards from "@/components/project_components/Project-cards/ProjectCards.astro"
---
<script>

</script>



<article class="h-auto w-full relative overflow-hidden">
    <section class="h-24 w-full flex items-center justify-center">
        <h1 class="text-4xl font-semibold tracking-wide text-purple-800">Project that i have worked on ✍️</h1>
    </section>
    <section class="h-auto py-8 w-full">
        <ProjectCards />
    </section>
</article>
