---
import ProjectCards from "@/components/project_components/Project-cards/ProjectCards.astro";
---

<script></script>

<article class="h-auto w-full relative overflow-hidden">
    <section
        class="h-auto w-full flex items-center justify-center flex-col gap-4  py-12"
    >
        <h1
            class="text-2xl text-pretty text-center sm:text-xl md:text-2xl lg:text-3xl font-semibold tracking-wide underline"
        >
            Projects that I have worked on ✍️
        </h1>
        <p
            class="text-base sm:text-lg md:text-xl font-semibold tracking-wide leading-relaxed text-center text-balance px-4 sm:px-8"
        >
            Once you visit the project and click on one, it will take you to my
            GitHub.
            <br class="hidden sm:block" />
            Please take into consideration that I live in a country where hosting
            platforms are nearly nonexistent,
            <br class="hidden sm:block" />
            and international payment methods are not available.
        </p>
    </section>
    <section class="h-auto py-8 w-full">
        <ProjectCards />
    </section>
</article>
