---
    import ProjectCards from "@/components/project_components/Project-cards/ProjectCards.astro"
---
<script>

</script>



<article class="h-auto w-full relative overflow-hidden">
    <section class="h-40 w-full flex items-center justify-center flex-col gap-4">
        <h1 class="text-4xl font-semibold tracking-wide text-purple-800">Project that i have worked on ✍️</h1>
        <p class="text-xl font-semibold tracking-wide text-gray-600 text-center text-pretty">Once you visit the project and click on one, it will take you to my GitHub.<br>Please take into consideration that I live in a country where hosting platforms are nearly nonexistent,<br> and international payment methods are not available.</p>
    </section>
    <section class="h-auto py-8 w-full">
        <ProjectCards />
    </section>
</article>
