---

---

<script></script>

<section class="h-auto w-full relative overflow-hidden">
    <div class="h-60 w-[95%] mx-auto relative">
        <div
            id="text-side"
            class="flex items-center h-full w-full justify-between"
        >
            <h1
                class="md:text-4xl sm:text-2xl lg:text-6xl font-light text-white"
            >
                Hello am Bachir 🎩<br />
                a person with a set of skills
            </h1>
            <div
                class="h-24 md:16 sm:h-14 aspect-square rounded-full overflow-hidden"
            >
                <img
                    src="/images/pixel_art_dev.png"
                    alt="main portfolio image"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
    <div
        id="first-part-text"
        class="h-40 w-[95%] mx-auto grid grid-cols-3 border-b-[1px] border-gray-600"
    >
        <div
            id="container-left-side-text"
            class="col-span-2 h-full w-full relative flex items-center"
        >
            <p id="left-side-text" class="text-xl px-4">
                As a worker and a person with versatile, 
                my first instinct when I face a mission is simple —
                it has to be done. Whether by following the rules or thinking
                outside the box
            </p>
        </div>
        <div
            id="container-right-side-text"
            class="col-span-1 h-full w-full relative flex items-center border-l-[1px] border-gray-600"
        >
            <p id="right-side-text" class="text-lg px-4">
                My skills in problem-solving, coding, and user experience
                enhance my software engineering abilities
            </p>
        </div>
    </div>
    <div class="h-20 w-[95%] flex items-center justify-center mx-auto">
        <h2 class=" font-semibold text-4xl underline ">
            What can i accomplish
        </h2>
    </div>
</section>

<style>
    @media screen and (max-width: 425px) {
        #first-part-text {
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
        }
        #container-right-side-text {
            border: none;
            padding-bottom: 1rem;
        }

        #left-side-text,
        #right-side-text {
            font-size: 1rem;
            text-align: center;
            text-wrap: balance;
        }
    }
</style>
