---
import { Button } from "../ui/button";
---

<script></script>

<section class="h-auto w-full overflow-hidden mx-0">
    <div class="h-24 w-full flex items-center justify-center">
        <h1
            class="2xl:text-5xl xl:text-4xl lg:text-3xl md:text-2xl sm:text-xl text-purple-800 font-semibold"
        >
            My Resume
        </h1>
    </div>
    <div class="h-auto w-full py-4 px-4">
        <p
            class="text-white text-center text-balance 2xl:text-4xl xl:text-3xl lg:text-2xl md:text-xl sm:text-lg font-semibold"
        >
            In this section, you can access my resume translated into three
            languages I speak fluently. Simply click on the flag corresponding
            to your preferred language to view i
        </p>
    </div>
    <article
        id="flags-main-container"
        class="h-64 w-[95%] mx-auto relative overflow-hidden grid grid-cols-3 "
    >
        <div class="h-full w-full relative overflow-hidden flex flex-col items-center justify-center gap-4 col-span-1">
            <div class="h-32 aspect-video rounded-lg shadow-inner border border-white overflow-hidden">
                <img src="/images/france-flag.webp" alt="french flag representing the french langage" loading="lazy">
            </div>
            <a href="/resume/seridi mohammed bachir FR.pdf">
                <h1 class="text-2xl text-white">FR</h1>
            </a>
        </div>
        <div class="h-full w-full relative overflow-hidden flex flex-col items-center justify-center gap-4 col-span-1">
            <div class="h-32 aspect-video rounded-lg shadow-inner border border-white overflow-hidden">
                <img src="/images/saudi-arabia-flag.webp" alt="saudi arabia flag representing the arab langage" loading="lazy">
            </div>
            <a href="/resume/AR seridi mohammed bachir.pdf">
                <h1 class="text-2xl text-white">AR</h1>
            </a>
        </div>
        <div class="h-full w-full relative overflow-hidden flex flex-col items-center justify-center gap-4 col-span-1">
            <div class="h-32 aspect-video rounded-lg shadow-inner border border-white overflow-hidden">
                <img src="/images/united-kingdom-flag.webp" alt="UK flag representing the english langage" loading="lazy">
            </div>
            <a href="/resume/seridi mohammed bachir.pdf">
                <h1 class="text-2xl text-white">EN</h1>
            </a>
        </div>


    </article>
</section>








<style>
    @media screen and (max-width: 2560px) {
    }
    @media screen and (max-width: 1440px) {
    }
    @media screen and (max-width: 1024px) {
    }
    @media screen and (min-width: 768px) {

    }

    @media screen and (max-width: 425px) {
    }
</style>
