---
---

<script></script>

<section class="h-auto w-full overflow-hidden mx-0">
    <div class="h-24 w-full flex items-center justify-center">
        <h1
            class="2xl:text-5xl xl:text-4xl lg:text-3xl md:text-2xl sm:text-xl  font-semibold"
        >
            My Intake
        </h1>
    </div>
    <div class="h-56 w-full py-4 px-4">
        <p
            class="text-center text-balance 2xl:text-4xl xl:text-3xl lg:text-2xl md:text-xl sm:text-lg"
        >
            To be transparent, my strongest skill is communication. As a
            self-taught developer who speaks more than one language, I can adapt
            to different types of people and ways of working — not only in tech,
            but in any collaborative environment.
        </p>
    </div>
</section>
<style>
    @media screen and (min-width: 768px) {
        .image-container {
            height: 6rem;
            aspect-ratio: 16 / 9;
        }
    }

    @media screen and (max-width: 425px) {
        article {
            height: auto;
            padding: 2rem 0rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            flex-direction: column;
        }
    }
</style>
