---

---

<script></script>

<section class="h-auto w-full relative overflow-hidden">
    <div
        id="about-page-cards"
        class="h-auto w-[90%] grid grid-cols-3 gap-4 mx-auto"
    >
        <div
            class="h-80 w-full border-t-[1px] border-gray-600 grid grid-rows-4"
        >
            <div class="row-span-1 flex items-center">
                <span class="text-sm">01</span>
            </div>
            <div class="row-span-1">
                <h1 class="text-xl">Solving</h1>
            </div>
            <div class="row-span-2">
                <p class="text-lg">
                    I don’t just work in tech — I identify patterns, connect
                    ideas, and turn problems into solutions, whether through
                    innovation or by building on what already works
                </p>
            </div>
        </div>
        <div
            class="h-80 w-full border-t-[1px] border-gray-600 grid grid-rows-4"
        >
            <div class="row-span-1 flex items-center">
                <span class="text-sm text-gray-400">02</span>
            </div>
            <div class="row-span-1">
                <h1 class="text-xl text-white">Development</h1>
            </div>
            <div class="row-span-2">
                <p class="text-lg text-white">
                    I develop tools and programs that, by essence, make things
                    easier — built on the belief that the user is in control and
                    their data belongs solely to them
                </p>
            </div>
        </div>
        <div
            class="h-80 w-full border-t-[1px] border-gray-600 grid grid-rows-4"
        >
            <div class="row-span-1 flex items-center">
                <span class="text-sm">03</span>
            </div>
            <div class="row-span-1">
                <h1 class="text-xl">The full package</h1>
            </div>
            <div class="row-span-2">
                <p class="text-lg">
                    Think of me as a Swiss Army knife — from languages to human
                    interaction, and through technology itself. My social
                    skills, combined with my technical and cultural knowledge,
                    allow me to make others feel at ease and collaborate
                    effectively.
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    @media screen and (max-width: 768px) {
        #about-page-cards {
            height: auto;
            padding: 1rem 0rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
    @media screen and (max-width: 425px) {
        #about-page-cards {
            height: auto;
            padding: 1rem 0rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
</style>
