---

---

<script></script>

<section class="h-auto w-full relative overflow-hidden">
    <div id="about-page-cards" class="h-auto w-[90%] grid grid-cols-3 gap-4 mx-auto ">
        <div

            class="h-80 w-full border-t-[1px] border-gray-600 grid grid-rows-4 "
        >
            <div class="row-span-1 flex items-center">
                <span class="text-sm text-gray-400">01</span>
            </div>
            <div class="row-span-1">
                <h1 class="text-xl text-white">Design</h1>
            </div>
            <div class="row-span-2">
                <p class="text-lg text-white">
                    I deliver robust, user-friendly website designs that
                    seamlessly integrate with development and align with proven
                    design principles, and a better user experience never the
                    less
                </p>
            </div>
        </div>
        <div
            class="h-80 w-full border-t-[1px] border-gray-600 grid grid-rows-4"
        >
            <div class="row-span-1 flex items-center">
                <span class="text-sm text-gray-400">02</span>
            </div>
            <div class="row-span-1">
                <h1 class="text-xl text-white">Development</h1>
            </div>
            <div class="row-span-2">
                <p class="text-lg text-white">
                    I craft scalable, design-centric websites using Next.js and
                    React.js. My expertise lies in elevating user experiences
                    through micro-interactions and animations powered by the
                    hotest libraries
                </p>
            </div>
        </div>
        <div
            class="h-80 w-full border-t-[1px] border-gray-600 grid grid-rows-4"
        >
            <div class="row-span-1 flex items-center">
                <span class="text-sm text-gray-400">03</span>
            </div>
            <div class="row-span-1">
                <h1 class="text-xl text-white">The full package</h1>
            </div>
            <div class="row-span-2">
                <p class="text-lg text-white">
                    I excel at transforming ideas into fully functional web
                    applications. My strong foundation in both frontend and
                    backend development, coupled with a keen eye for design,
                    enables me to deliver exceptional projects
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    @media screen and (max-width:768px){
        #about-page-cards{
            height:auto;
            padding:1rem 0rem;
            display:flex;
            align-items:center;
            justify-content: center;
            flex-direction: column;
        }
    }
    @media screen and (max-width:425px){
        #about-page-cards{
            height:auto;
            padding:1rem 0rem;
            display:flex;
            align-items:center;
            justify-content: center;
            flex-direction: column;
        }
    }
</style>
