---
import { Button } from "@/components/ui/button.tsx";
import SocialLink from "@/components/widgets/SocialLink.astro";
---

<script>

</script>
<footer
    class="h-auto w-full relative overflow-hidden flex items-center justify-center flex-col"
>
    <section
        id="footer"
        class="footer-light dark:footer-dark h-72 w-full relative overflow-hidden grid grid-cols-3 border-t-[1px] border-gray-600"
    >
        <article
            class="column col-span-1 h-fulll w-full overflow-hidden flex items-center justify-center"
        >
            <h1 id="main-footer-text" class="text-3xl font-semibold text-balance text-purple-700">
                Where innovation & <br />
                <span class="text-orange-500">creativity</span> thrive
            </h1>
        </article>
        <article
            class="column col-span-1 h-fulll w-full overflow-hidden flex items-center justify-center"
        >
            <ul class="flex items-center flex-col justify-center gap-4">
                <li><h3 class="text-2xl">Explore</h3></li>
                <li class="font-semibold text-xl"><a href="/">Home</a></li>
                <li class="font-semibold text-xl">
                    <a href="/about">About</a>
                </li>
                <li class="font-semibold text-xl">
                    <a href="/project">Project</a>
                </li>
            </ul>
        </article>
        <article
            class="column col-span-1 h-fulll w-full overflow-hidden flex items-center justify-center flex-col gap-6"
        >
            <SocialLink />
            <Button id="contact-button" size={"lg"}>
                <a href="/contact" class="text-2xl font-semibold">Contact</a>
            </Button>
        </article>
    </section>
</footer>
<style >
    #footer:hover {
        background-position: 0% -10%;
    }

    @media screen and (max-width: 425px) {
        #footer {
            height: 100dvh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
        #main-footer-text{
            font-size:1.5rem;
        }
        #contact-button{
            height:1.2rem;
        }
        #contact-button > a {
            font-size:1rem;
        }
    }
</style>
