---
/**
 *!lib import
 */
import { Icon } from "astro-icon/components";
/**
 *!local import
 */
import { Button } from "../ui/button";
import { ModeToggle } from "../ui/ModeToggle";
import "../../styles/global.css";
---

<script>
  function toggleSidebar() {
    const sideBar = document.querySelector("#side-bar") as HTMLElement | null;
    const openButton = document.querySelector(
      "#open-btn",
    ) as HTMLButtonElement | null;
    const closeButton = document.querySelector(
      "#close-btn",
    ) as HTMLButtonElement | null;

    if (!sideBar || !openButton || !closeButton) {
      console.error(
        "Error: HTML elements for the sidebar or buttons not found.",
      );
      return;
    }

    openButton.addEventListener("click", () => {
      sideBar.style.display = "flex";
    });

    closeButton.addEventListener("click", () => {
      sideBar.style.display = "none";
    });
  }
  toggleSidebar();


</script>

<header class="h-auto w-full border-b-[1px] dark:bg-background-for-dark-mode">
  <div
    id="navbar-container"
    class="h-20 w-[95%] overflow-hidden flex items-center justify-between mx-auto"
  >
    <nav
      id="navbar"
      class="h-full w-full relative overflow-hidden grid grid-cols-3"
    >
      <div id="name-container" class="col-span-1 relative flex items-center">
        <div
          id="full-name-wrapper"
          class="p-4 h-10 w-auto flex items-center justify-center rounded-2xl shadow-2xl border-[1px]"
        >
          <a href="/" class="font-semibold">Seridi Mohammed Bachir</a>
        </div>
      </div>
      <div
        id="links-container"
        class="col-span-1 relative flex items-center justify-center"
      >
        <div
          id="links-container"
          class="h-10 w-auto p-4 rounded-2xl shadow-2xl flex items-center border-[1px]"
        >
          <ul class="flex items-center gap-4">
            <li class="gap-2">
              <a class="flex items-center gap-2" href="/">
                <Icon name="Home" />
                Home
              </a>
            </li>
            <li class="gap-2">
              <a class="flex items-center gap-2" href="/project">
                <Icon name="Project" />
                Project
              </a>
            </li>
            <li class="gap-2">
              <a class="flex items-center gap-2" href="/about">
                <Icon name="About" />
                About
              </a>
            </li>
            <li class="gap-2">
              <a class="flex items-center gap-2" href="/resume">
                <Icon name="Languages" />
                Resume
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div
        id="contact-container"
        class="col-span-1 relative flex items-center justify-end  gap-6"
      >
        <div
          id="contact-button"
          class="h-10 w-auto p-4 rounded-2xl shadow-2xl flex items-center border-[1px]"
        >
          <a class="font-semibold flex items-center gap-2" href="/contact">
            <Icon name="Contact" />
            <span>Contact</span>
          </a>
        </div>
        <ModeToggle client:load />
      </div>
    </nav>
    <Button size={"lg"} variant={"ghost"} id="open-btn">
      <Icon name={"Bars"} size={"2rem"} color={"white"} />
    </Button>
  </div>
</header>

<!--* side bar navigation -->

<div
  id="side-bar"
  class="h-[50%] w-full absolute left-1/2 -translate-x-1/2 top-24 z-10 flex items-center justify-center"
>
  <div
    id="side-bar-container"
    class="h-[95%] w-[95%] mx-auto border rounded-xl flex items-center justify-center"
  >
    <div id="side-bar-wrapper" class="h-[95%] w-[90%] mx-auto grid grid-rows-4">
      <div class="row-span-1 h-full w-full flex items-center justify-between">
        <a class="flex items-center gap-2" href="/">
          <Icon name="Home" />
          Home
        </a>
        <Button size={"sm"} id="close-btn">
          <Icon name={"Cross"} color={"white"} />
        </Button>
      </div>
      <div
        class="row-span-1 h-full w-full border-t-[1px] border-gray-600 flex items-center"
      >
        <a class="flex items-center gap-2" href="/project">
          <Icon name="Project" />
          Project
        </a>
      </div>
      <div
        class="row-span-1 h-full w-full border-t-[1px] border-gray-600 flex items-center"
      >
        <a class="flex items-center gap-2" href="/about">
          <Icon name="About" />
          About
        </a>
      </div>
      <div
        class="row-span-1 h-full w-full border-t-[1px] border-gray-600 flex items-center"
      >
        <a class="font-semibold flex items-center gap-2" href="/contact">
          <Icon name="Contact" />
          <span>Contact</span>
        </a>
      </div>
    </div>
  </div>
</div>
<style>
  /*#side-bar-container {
    background: #000;
  }*/

  @media screen and (max-width: 2560px) {
    #side-bar {
      display: none;
    }
    #open-btn {
      display: none;
    }
  }

  @media screen and (max-width: 1440px) {
    #side-bar {
      display: none;
    }
    #open-btn {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    #side-bar {
      display: none;
    }
    #open-btn {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    #full-name-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #full-name-wrapper > h1 {
      font-size: 0.85rem;
      font-weight: 500;
    }
    #open-btn {
      display: none;
    }
  }
  @media screen and (max-width: 425px) {
    #navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    #full-name-wrapper > h1 {
      font-size: 0.8rem;
      font-weight: 500;
    }

    #links-container {
      display: none;
    }

    #contact-button {
      display: none;
    }
    #side-bar {
      display: none;
    }
    #open-btn {
      display: block;
    }
  }
</style>
