---
import { Icon } from "astro-icon/components";
---


<script>

</script>


<!-- <img class="rounded-t-lg" src="/images/Avatar.webp" alt="" />-->
<section class="h-auto p-8 gap-6 w-full relative overflow-hidden flex items-center justify-center flex-wrap flex-col ">

    <article class="h-auto w-[30rem] relative overflow-hidden">
        <a href="#" class="h-full w-full flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/file_manager.webp" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">File manager (CLI) in python</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Libraries used : os , shutil , cryptography , typing </p>
            </div>
        </a>

    </article>

    <article class="h-auto w-[30rem] relative overflow-hidden">
        <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/go_rest_api.webp" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Go rest api</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Go libraries: chi , cors , ThunderClient</p>
            </div>
        </a>
    </article>

    <article class="h-auto w-[30rem] relative overflow-hidden">
        
            <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/e_commerce.webp" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">E commerce</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Stack used: sveltekit , supabase , postgresql ,typescript , tailwindcss , cypress , vite</p>
                </div>
            </a>

    </article>

    <article class="h-auto w-[30rem] relative overflow-hidden">
        <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/images/Avatar.webp" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Portfolio</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Stack used: Astro, typescript ,tailwindcss , cypress ,vite</p>
            </div>
        </a>
    </article>


    

     
    
</section>

<style>

    @media screen and (max-width:425px){
        article{
            width:auto;
        }
    }
    
</style>