---
import Header from "@/components/widgets/Header.astro";
//@ts-ignore
import AboutLayout from "@/layouts/aboutLayout.astro";
import Presentation from "@/components/about_components/Presentation.astro"
import WhatCanIDo from "@/components/about_components/WhatCanIDo.astro"
import ResumeSection from "@/components/about_components/ResumeSection.astro";
import '@/styles/global.css'
---


<script>

</script>

<AboutLayout title="about me 😉">
    <main class="h-auto w-full relative overflow-hidden">
        <Presentation />
        <WhatCanIDo />
        <ResumeSection />
    </main>
</AboutLayout>


<style>

</style>