---
import Layout from "@/layouts/Layout.astro";
import Presentation from "@/components/about_components/Presentation.astro"
import WhatCanIDo from "@/components/about_components/WhatCanIDo.astro"
import ResumeSection from "@/components/about_components/ResumeSection.astro";
import '@/styles/global.css'
---


<script>

</script>

<Layout title="about me">
    <main class="h-auto w-full relative overflow-hidden">
        <Presentation />
        <WhatCanIDo />
        <ResumeSection />
    </main>
</Layout>


<style>

</style>