---
import Layout from "@/layouts/Layout.astro";
import GmailSvg from "@/icons/Gmail.svg";
import { Icon } from "astro-icon/components";
import Hireme from "@/components/ui/Hireme.astro";

const Works = [
    { name: "Github", href: "https://github.com/000bachir", id: "github" },
    {
        name: "Linkedin",
        href: "https://www.linkedin.com/in/seridi-mohammed-98a70423b/",
        id: "linkedin",
    },
];

const Freelances = [
    {
        name: "Upwork",
        href: "https://www.upwork.com/freelancers/~01a03f0469a3b5fcc2",
        id: "Upwork",
    },
    {
        name: "Fiver",
        href: "https://fr.fiverr.com/users/bachir_24/manage_gigs",
        id: "fivver",
    },
];
---

<script></script>

<Layout title="contact">
    <main class="h-auto w-full relative overflow-hidden">
        <section
            class="h-dvh w-full grid grid-cols-2 grid-rows-2"
            id="main-container"
        >
            <div
                class="h-full w-full relative border-r-[1px] border-gray-600 overflow-hidden flex flex-col items-center justify-center gap-4"
                id="top-left"
            >
                <Hireme />
            </div>
            <div
                class="h-full w-full relative overflow-hidden flex flex-col items-center justify-center gap-4"
                id="top-right"
            >
                <h1 class="text-3xl font-semibold">
                    Send me an email in my inbox ✍️
                </h1>
                <button
                    type="submit"
                    class="px-6 py-3 rounded-lg shadow text-4xl font-semibold"
                    id="gmail-btn"
                >
                    <a
                        href="https://mail.google.com/mail/?view=cm&to=peakdev698@gmail.com"
                    >
                        <Icon
                            name="Gmail"
                            class={"dark:text-white text-black"}
                        />
                    </a>
                </button>
                <span
                    class="text-lg font-semibold text-center text-balance px-4"
                    >I use a public email and dev handle here for privacy. My
                    full name and contact details are available on request or
                    via LinkedIn</span
                >
            </div>
            <div
                class="h-full w-full relative flex flex-col items-center justify-center gap-4 border-r-[1px] border-t-[1px] border-gray-600 overflow-hidden"
                id="bottom-left"
            >
                <h1 class="text-3xl font-semibold">Hire me for work</h1>
                <div
                    class="flex items-center justify-center gap-4"
                    id="container-bottom-left"
                >
                    {
                        Freelances.map((freelance) => (
                            <button
                                type="submit"
                                class="px-6 py-3 rounded-lg shadow font-semibold text-4xl"
                            >
                                <a href={freelance.href}>
                                    <Icon
                                        name={freelance.name}
                                        color={"dark:text-white text-black"}
                                    />
                                </a>
                            </button>
                        ))
                    }
                </div>
            </div>
            <div
                class="h-full w-full relative border-t-[1px] border-gray-600 overflow-hidden flex flex-col items-center justify-center gap-4"
                id="bottom-right"
            >
                <h1 class="text-3xl font-semibold text-center">
                    I’m reliable, curious, and very polyvalent
                </h1>
                <div
                    class="flex items-center justify-center gap-4"
                    id="container-bottom-right"
                >
                    {
                        Works.map((work) => (
                            <button
                                type="submit"
                                class="px-6 py-3 rounded-lg shadow font-semibold text-4xl"
                            >
                                <a href={work.href}>
                                    <Icon
                                        name={work.name}
                                        color={"dark:text-white text-black"}
                                    />
                                </a>
                            </button>
                        ))
                    }
                </div>
            </div>
        </section>
    </main>
</Layout>

<style>
    @media screen and (max-width: 768px) {
        #top-left > h1,
        #top-right > h1,
        #bottom-left > h1,
        #bottom-right > h1 {
            font-size: 1.2rem;
        }
        #gmail-btn,
        #container-right > button,
        #container-bottom-left > button,
        #container-bottom-right > button {
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: 425px) {
        #main-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 1000px;
        }
    }
</style>
