---
import Layout from '../layouts/Layout.astro';
import '@/styles/global.css'


/**
 * ? Home Page imports
 */

import Hero from "@/components/home_components/Hero.astro"
import PersonalInformation from '@/components/home_components/PersonalInformation.astro';
import AboutMe from '@/components/home_components/AboutMe.astro';
import Project from '@/components/home_components/Project.astro';
import PersonalStack from '@/components/home_components/PersonalStack.astro';
---



<script>
	
</script>

<Layout title="Seridi Mohammed Bachir">
	<main class="h-auto w-full relative overflow-hidden">
	  <Hero />
	  <PersonalInformation />
	  <AboutMe />
	  <Project />
	  <PersonalStack />
	</main>
  </Layout>
  
