---
import Layout from "@/layouts/Layout.astro";
import ProjectHero from "@/components/project_components/ProjectHero.astro"
---
<script>

</script>




<Layout title="project 🧠">
    <main class="h-auto w-full relative overflow-hidden">
        <ProjectHero />
    </main>
</Layout>

<style>

</style>