---
import Layout from '../layouts/Layout.astro';
import '@/styles/global.css'
import Summary from '@/components/resume_components/Summary.astro';
import ResumePaper from "@/components/resume_components/ResumePaper.astro";
---

<script></script>



<Layout title="My Persona ðŸ˜">
    <main class="h-auto w-[95%] mx-auto relative overflow-hidden">
        <Summary  />
        <ResumePaper />
    </main>
</Layout>