---


import Header from "@/components/widgets/Header.astro";
//@ts-ignore
import AboutLayout from "@/layouts/aboutLayout.astro";
import '@/styles/global.css'

import ProjectCards from "@/components/widgets/Project-cards/ProjectCards.astro"
---


<script>

</script>

<AboutLayout title="test">
    <main class="h-auto w-full relative overflow-hidden">
        <ProjectCards />
    </main>
</AboutLayout>


<style>

</style>