---
import { Button } from "../ui/button";
import { Icon } from "astro-icon/components";
---

<script></script>

<section class="h-auto w-full relative overflow-hidden m-0 p-0">
    <div class="h-24 w-full relative flex items-center">
        <h1
            id="title-for-resume-dowwload-section"
            class="text-4xl font-semibold"
        >
            💾 Resume downloadable
        </h1>
    </div>
    <div class="h-auto w-full">
        <div class="h-20 w-full flex items-center justify-center">
            <h2
                id="sub-title-for-resume-dowwload-section"
                class="text-2xl  font-semibold underline "
            >
                Before diving any further let me explain my thoughts process🧠
            </h2>
        </div>
        <p
            id="paragraph-for-resume-dowwload-section"
            class="font-semibold text-lg text-balance leading-relaxed text-center sm:text-base md:text-lg xl:text-xl 2xl:text-2xl"
        >
            Below, you’ll find two résumé sections: one highlighting my tech
            background and the other focused on my teaching experience. Although
            I haven’t mentioned it much, I’m also a certified French language
            teacher. In this section, I aim to merge both aspects of my profile,
            so that recruiters can easily find what they’re looking for.
            Maintaining two separate résumés—one for tech and one for
            teaching—can lead to inconsistencies, so combining them here ensures
            clarity and accuracy
        </p>
    </div>
</section>

<section class="h-auto w-full relative mt-12">
    <!--* Teacher resume side-->
    <div class="h-16 w-ful relative flex items-center justify-center">
        <h1 class="text-3xl font-semibold">
            🗣️ Language & Communication CV 
        </h1>
    </div>
    <div class="flex flex-wrap justify-center mt-10">
        <!-- card 1 -->
        <div class="p-4 max-w-sm">
            <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
                <div class="flex items-center mb-3">
                    <div
                        class="w-12 h-12 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0 overflow-hidden">
                        <Icon name="Teacher" size={"30px"} />
                    </div>
                    <h2 class="text-white dark:text-white text-lg font-medium">Arabic</h2>
                </div>
                <div class="flex flex-col justify-between flex-grow">
                    <p class="leading-relaxed text-base text-white dark:text-gray-300">
                        سيرتي الذاتية باللغة العربية
                    </p>
                    <a href="#" class="mt-3 text-black dark:text-white hover:text-blue-600 inline-flex items-center">تحميل
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    
        <!-- card 2 -->
        <div class="p-4 max-w-sm">
            <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
                <div class="flex items-center mb-3">
                    <div
                        class="w-12 h-12 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0 overflow-hidden">
                        <Icon name="Teacher" size={"30px"} />
                    </div>
                    <h2 class="text-white dark:text-white text-lg font-medium">French</h2>
                </div>
                <div class="flex flex-col justify-between flex-grow">
                    <p class="leading-relaxed text-base text-white dark:text-gray-300">
                        Mon resume en Français 
                    </p>
                    <a href="/public/resume/Language resume/nouveau-cv-langue-fr.odt" class="mt-3 text-black dark:text-white hover:text-blue-600 inline-flex items-center">Telecharger
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    
        <!-- card 3 -->
        <div class="p-4 max-w-sm">
            <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
                <div class="flex items-center mb-3">
                    <div
                        class="w-12 h-12 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0 overflow-hidden">
                        <Icon name="Teacher" size={"30px"} />
                    </div>
                    <h2 class="text-white dark:text-white text-lg font-medium">English</h2>
                </div>
                <div class="flex flex-col justify-between flex-grow">
                    <p class="leading-relaxed text-base text-white dark:text-gray-300">
                        My resume in english
                    </p>
                    <a href="/public/resume/Language resume/cv-language-english.odt" class="mt-3 text-black dark:text-white hover:text-blue-600 inline-flex items-center">Download
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    
    </div>


</section>

<!-- ! tech resume -->

<section class="h-auto w-full relative mt-12">
    <!--* Tech resume side -->
    <div class="h-16 w-ful relative flex items-center justify-center">
        <h1 class="text-3xl font-semibold">
            🧑‍💻 Technical CV (Self-taught Developer) 
        </h1>
    </div>
    <div class="flex flex-wrap justify-center mt-10">
        <!-- card 1 -->
        <div class="p-4 max-w-sm">
            <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
                <div class="flex items-center mb-3">
                    <div
                        class="w-12 h-12 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0 overflow-hidden">
                        <Icon name="Tech" size={"30px"} />
                    </div>
                    <h2 class="text-white dark:text-white text-lg font-medium">Arabic</h2>
                </div>
                <div class="flex flex-col justify-between flex-grow">
                    <p class="leading-relaxed text-base text-white dark:text-gray-300">
                        سيرتي الذاتية باللغة العربية
                    </p>
                    <a href="#" class="mt-3 text-black dark:text-white hover:text-blue-600 inline-flex items-center">تحميل
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    
        <!-- card 2 -->
        <div class="p-4 max-w-sm">
            <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
                <div class="flex items-center mb-3">
                    <div
                        class="w-12 h-12 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0 overflow-hidden">
                        <Icon name="Tech" size={"30px"} />
                    </div>
                    <h2 class="text-white dark:text-white text-lg font-medium">French</h2>
                </div>
                <div class="flex flex-col justify-between flex-grow">
                    <p class="leading-relaxed text-base text-white dark:text-gray-300">
                        Mon resume en Français 
                    </p>
                    <a href="/public/resume/TechResume/nouveau-cv-tech-fr.odt" class="mt-3 text-black dark:text-white hover:text-blue-600 inline-flex items-center">Telecharger
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    
        <!-- card 3 -->
        <div class="p-4 max-w-sm">
            <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
                <div class="flex items-center mb-3">
                    <div
                        class="w-12 h-12 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0 overflow-hidden">
                        <Icon name="Tech" size={"30px"} />
                    </div>
                    <h2 class="text-white dark:text-white text-lg font-medium">English</h2>
                </div>
                <div class="flex flex-col justify-between flex-grow">
                    <p class="leading-relaxed text-base text-white dark:text-gray-300">
                        My resume in english
                    </p>
                    <a href="/public/resume/TechResume/tech-cv-english.odt" class="mt-3 text-black dark:text-white hover:text-blue-600 inline-flex items-center">Download
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    
    </div>


</section>


<!-- * global resume  -->

<section class="h-auto w-full relative mt-12">
    <!--* Tech resume side -->
    <div class="h-16 w-ful relative flex items-center justify-center">
        <h1 class="text-3xl font-semibold">
            🌐 Global CV
        </h1>
    </div>
    <div class="flex flex-wrap justify-center mt-10">
        <!-- card 1 -->
        <div class="p-4 max-w-sm">
            <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
                <div class="flex items-center mb-3">
                    <div
                        class="w-12 h-12 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0 overflow-hidden">
                        <Icon name="Tech" size={"30px"} />
                    </div>
                    <h2 class="text-white dark:text-white text-lg font-medium">Arabic</h2>
                </div>
                <div class="flex flex-col justify-between flex-grow">
                    <p class="leading-relaxed text-base text-white dark:text-gray-300">
                        سيرتي الذاتية باللغة العربية
                    </p>
                    <a href="#" class="mt-3 text-black dark:text-white hover:text-blue-600 inline-flex items-center">تحميل
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    
        <!-- card 2 -->
        <div class="p-4 max-w-sm">
            <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
                <div class="flex items-center mb-3">
                    <div
                        class="w-12 h-12 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0 overflow-hidden">
                        <Icon name="Tech" size={"30px"} />
                    </div>
                    <h2 class="text-white dark:text-white text-lg font-medium">French</h2>
                </div>
                <div class="flex flex-col justify-between flex-grow">
                    <p class="leading-relaxed text-base text-white dark:text-gray-300">
                        Mon resume en Français 
                    </p>
                    <a href="#" class="mt-3 text-black dark:text-white hover:text-blue-600 inline-flex items-center">Telecharger
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    
        <!-- card 3 -->
        <div class="p-4 max-w-sm">
            <div class="flex rounded-lg h-full dark:bg-gray-800 bg-teal-400 p-8 flex-col">
                <div class="flex items-center mb-3">
                    <div
                        class="w-12 h-12 mr-3 inline-flex items-center justify-center rounded-full dark:bg-indigo-500 bg-indigo-500 text-white flex-shrink-0 overflow-hidden">
                        <Icon name="Tech" size={"30px"} />
                    </div>
                    <h2 class="text-white dark:text-white text-lg font-medium">English</h2>
                </div>
                <div class="flex flex-col justify-between flex-grow">
                    <p class="leading-relaxed text-base text-white dark:text-gray-300">
                        My resume in english
                    </p>
                    <a href="#" class="mt-3 text-black dark:text-white hover:text-blue-600 inline-flex items-center">Download
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    
    </div>


</section>

<style>
    @media screen and (max-width: 425px) {
        #main-container-for-download-resume {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        #title-for-resume-dowwload-section {
            font-size: 2rem;
        }
        #sub-title-for-resume-dowwload-section {
            font-size: 1.2rem;
            text-wrap: balance;
            text-align: center;
        }
        #paragraph-for-resume-dowwload-section {
            font-size: 1rem;
            text-wrap: balance;
        }

        #teacher-side > #resume-in-french,
        #resume-in-english,
        #resume-in-arabic {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            flex-direction: row;
        }
        #teacher-side > #resume-in-arabic {
            border-bottom: 1px solid green;
        }

        #tech-side > #tech-resume-in-french,
        #tech-resume-in-english,
        #tech-resume-in-arabic {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            flex-direction: row;
        }
    }
</style>
