---

---

<script></script>

<section class="h-auto w-full relative overflow-hidden">
    <div id="summary-title-container" class="h-24 w-full flex items-center">
        <h1 class="text-4xl font-semibold">👤 ReadMe.md</h1>
    </div>
    <div
        class="h-auto w-[95%] mx-auto relative overflow-hidden border-[1px] border-gray-500 rounded-lg"
    >
        <p
            id="summary-paragraph"
            class="text-xl text-pretty py-6 px-8 leading-relaxed sm:text-base md:text-lg xl:text-xl 2xl:text-2xl"
        >
            Since you’ve landed on this part of the website, let me tell you a
            bit about myself.
            <br />
            I’m a self-taught developer from Algeria. I didn’t study computer science,
            and honestly, I don’t think that makes me better than people who did—in
            fact, it’s the opposite. Graduates often have a deeper understanding
            of how computers really work. For the record, I’m actually a certified
            French teacher, plus I acquired the other language because I realized
            that anything can be learned If this is your first time checking out
            my portfolio, welcome Colors and design skills are not my primary strong
            points Since this portfolio is mine, I’m writing it the way i want it
            like. So yeah—why did I start coding? Because i wanted to widen my skill
            set. I’m just a real person trying to figure things out, one commit at
            a time.
        </p>
    </div>

    <div class="">
        <div class="h-24 w-full flex items-center">
            <h1 class="text-4xl font-semibold">Work Experience 🦺</h1>
        </div>
        <div
            class="h-auto w-[95%] mx-auto relative overflow-hidden border-[1px] border-gray-500 rounded-lg"
        >
            <p class="text-xl sm:text-base md:text-lg xl:text-xl 2xl:text-2xl text-pretty py-6 px-8 leading-relaxed ">
                I don’t have much experience in tech jobs, mainly because
                opportunities are very limited where I live. To put it simply,
                most of my work has been in factories or as a store manager in a
                mobile phone shop. After graduation, I started teaching French
                and English — mostly as a freelancer or offering lessons from
                home. I’m not a certified English teacher, but I’ve mastered the
                language and hold an IELTS certificate (which I always mention
                to families before starting lessons).
            </p>
        </div>
    </div>
</section>

<style>
    @media screen and (max-width: 425px) {
        #summary-title-container > h1 {
            font-size: 2rem;
        }
        #summary-paragraph {
            font-size: 1rem;
        }
    }
</style>
